<h1>停车费用计算</h1>
<% if @parking.amount.present? %>
  <p>从<%= @parking.start_at %> 至 <%= @parking.end_at %></p>
  <p>共<%= @parking.duration %> 分钟</p>
  <p>总计<%= number_to_currency(@parking.amount.to_f / 100, :unit => "¥")%> 元</p>
  <p><%= link_to "继续停车", new_parking_path%></p>
<% else %>
  <%= form_for @parking do |f| %>
    <p><%= f.submit "结束计费" %></p>
  <% end %>
<% end %>
